@{
    ViewData["Title"] = "Home Page";
}

<div id="content">
    <h3>@ViewData["request"]</h3>
    <div id="self">
        <h3>Me</h3>
        <pre><code>@ViewData["me"]</code></pre>
    </div>
    <div id="userById">
        <h3>User By Id</h3>
        <pre>@ViewData["userById"]</pre>
    </div>
    <div id="selfRecent">
        <h3>My Recent Media</h3>
        <pre>@ViewData["selfRecent"]</pre>
    </div>
    <div id="userRecent">
        <h3>User Recent Media</h3>
        <pre>@ViewData["userRecent"]</pre>
    </div>
    <div id="selfLiked">
        <h3>My Likes</h3>
        <pre>@ViewData["selfLiked"]</pre>
    </div>
    <div id="selfFollows">
        <h3>My Follows</h3>
        <pre>@ViewData["selfFollows"]</pre>
    </div>
    <div id="selfFollwedBy">
        <h3>My Followers</h3>
        <pre>@ViewData["selfFollwedBy"]</pre>
    </div>
</div>